<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="UUID" type="java.util.UUID"/>
        <typeAlias alias="Boolean" type="java.lang.Boolean"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="ru.belov.bookstore.infrastructure.dao.mybatis.util.UuidTypeHandler" javaType="java.util.UUID"/>
        <typeHandler handler="ru.belov.bookstore.infrastructure.dao.mybatis.util.LocalDateTypeHandler" javaType="java.time.LocalDate"/>
        <typeHandler handler="ru.belov.bookstore.infrastructure.dao.mybatis.util.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"/>
        <typeHandler handler="ru.belov.bookstore.infrastructure.dao.mybatis.util.LocalizedStringTypeHandler" javaType="ru.belov.bookstore.domain.entity.LocalizedString"/>
    </typeHandlers>

    <mappers>
        <package name="ru.belov.bookstore.dao.mybatis.mapper"/>
    </mappers>

</configuration>